<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOPICS設定</title>
</head>
<body>
	<h1>TOPICS設定</h1>
	<main>
		<section class="input_form container">
			<input type="hidden" id="js-topics_id"/>
			<div>
				<label>タイトル</label>
				<input type="text" name="title" />
			</div>
			<div>
				<label>表示開始日時</label>
				<input type="text" name="displayStartTime"/>
			</div>
			<div>
				<label>表示終了日時</label>
				<input type="text" name="displayEndTime"/>
			</div>
			<div>
				<label>配布先グループ</label>
				<input type="text" name="sendTo"/>
			</div>
			<div>
				<label>配布元グループ</label>
				<input type="text" name="sendFrom"/>
			</div>
			<button type="button" >登録</button>
			<button type="button" >更新</button>
			<button type="button" >削除</button>
			<button type="button" >戻る</button>
		</section>
	</main>
</body>
</html>
